# Ignore local files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
.venv/

# Ignore test files
tests/
requirements-test.txt
.coverage
pytest_cache/
pytest.ini

# Ignore logs and temp
app/logs/*
!app/logs/.gitkeep

# Ignore VCS
.git/
.gitignore
.github/

# Ignore IDE/editor
.vscode/
.idea/

# Ignore local Docker stuff
docker-compose.override.yml
.env

# Ignore system files
.DS_Store
Thumbs.db
desktop.ini
README.md